<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard University</title>
    <!-- Link ke CSS -->
    <link rel="stylesheet" href="/css/harvard.css">
</head>
<body>
    <header class="header">
        <h1>Harvard University</h1>
        <nav>
            <a href="/courses">Back to Courses</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>About Harvard University</h2>
            <p style="text-align: justify;">
                University of Oxford, dikenal masyarakat Indonesia dengan nama Universitas Oxford, adalah universitas riset publik kolegiat yang terletak di kota Oxford, Inggris. Bukti pengajaran dapat ditelusuri sejak tahun 1096 menjadikannya universitas tertua di dunia berbahasa Inggris dan universitas tertua kedua di dunia yang terus beroperasi hingga saat ini. 
                Universitas Oxford juga mengoperasikan Museum Ashmolean, yang merupakan museum universitas tertua di dunia; Oxford University Press, percetakan universitas terbesar di dunia; dan sistem perpustakaan akademik terbesar secara nasional. Pada tahun fiskal yang berakhir 31 Juli 2023, Oxford memiliki total pendapatan konsolidasi sebesar £2,92 miliar, dimana £789 juta di antaranya berasal dari hibah dan kontrak penelitian. 
                Oxford telah mendidik berbagai alumni terkemuka di dunia, termasuk 30 Perdana Menteri Britania Raya dan banyak kepala negara dan pemerintahan di seluruh dunia. Setidaknya pada Oktober 2022, 73 penerima Penghargaan Nobel, 4 Peraih Medali Fields, dan 6 pemenang Penghargaan Turing telah dimatrikulasi sebagai mahasiswa, bekerja, atau mengadakan beasiswa kunjungan di Universitas Oxford, sementara alumninya telah memenangkan 160 medali Olimpiade. Universitas Oxford juga merupakan rumah bagi banyak beasiswa, termasuk Beasiswa Rhodes, salah satu program beasiswa pascasarjana internasional tertua di dunia. 
            </p>
        </section>
        
        <section>
            <h2>Popular Courses</h2>
            <ul>
                <li>Humanities (Fakultas Humaniora)</li>
                <p>
                    • Classics
                    <br>
                    • English Language and Literature
                    <br>
                    • History
                    <br>
                    • Linguistics, Philology and Phonetics
                    <br>
                    • Medieval and Modern Languages
                    <br>
                    • Music
                    <br>
                    • Oriental Studies
                    <br>
                    • Philosophy
                    <br>
                    • Theology and Religion
                </p>

                <li>Social Sciences (Fakultas Sains Sosial)</li>
                <p>
                    • Anthropology and Museum Ethnography
                    <br>
                    • Archaeology
                    <br>
                    • Business
                    <br>
                    • Economics
                    <br>
                    • Education
                    <br>
                    • Geography and the Environment
                    <br>
                    • Law
                    <br>
                    • Politics and International Relations
                    <br>
                    • Social Policy and Intervention
                    <br>
                    • Sociology
                </p>

                <li>Mathematical, Physical and Life Sciences (Fakultas Matematika dan Ilmu Pengetahuan Alam)</li>
                <p>
                    • Chemistry
                    <br>
                    • Computer Science
                    <br>
                    • Earth Sciences
                    <br>
                    • Engineering Science
                    <br>
                    • Materials
                    <br>
                    • Mathematics
                    <br>
                    • Physics
                    <br>
                    • Plant Sciences
                    <br>
                    • Statistics
                    <br>
                    • Zoology
                </p>

                <li>Medical Sciences (Fakultas Kedokteran)</li>
                <p>
                    • Clinical Medicine
                    <br>
                    • Experimental Psychology
                    <br>
                    • Health Care Innovation
                    <br>
                    • Medical Sciences Doctoral Training Centre
                    <br>
                    • Musculoskeletal Sciences
                    <br>
                    • Nuffield Department of Clinical Neurosciences
                    <br>
                    • Primary Care Health Sciences
                    <br>
                    • Nuffield Department of Clinical Medicine
                    <br>
                    • Nuffield Department of Obstetrics and Gynaecology
                    <br>
                    • Psychiatry
                    <br>
                    • Nuffield Department of Orthopaedics, Rheumatology and Musculoskeletal Sciences
                    <br>
                    • Nuffield Department of Population Health
                    <br>
                    • Radiation Oncology
                    <br>
                    • Surgical Sciences
                </p>

                <li>The Faculty of Computer Science and Information Technology (Fakultas Ilmu Komputer dan Teknologi Informasi)</li>
                <p>
                    • Computer Science
                    <br>
                    • Software Engineering
                    <br>
                    • Cyber Security
                </p>

                <li>Engineering (Fakultas Teknik)</li>
                <p>
                    • Bachelor of Engineering in Engineering Science
                    <br>
                    • Master of Science in Computer Science
                    <br>
                    • Master of Science in Engineering Science
                    <br>
                    • Water Science, Policy, and Management
                </p>

                <li>Economic and Management (Fakultas Ekonomi dan Manajemen)</li>
                <p>
                    • Master of Business Administration (MBA)
                    <br>
                    • Bachelor of Arts in Economics and Management
                    <br>
                    • Master of Science in Law and Finance
                    <br>
                    • Programme Management
                </p>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 World's Best Universities. All rights reserved.</p>
    </footer>
</body>
</html>
