<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World's Best Universities- Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="navbar">
            <h1 class="logo">World's Best Universities</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="dropdown">
                        <a href="/courses">Courses</a>
                        <ul class="dropdown-menu">
                            <li><a href="/courses/oxford">Oxford</a></li>
                            <li><a href="/courses/harvard">Harvard</a></li>
                            <li><a href="/courses/mit">MIT</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>University</h1>
            <p>Unlock your future with the world’s top universities. Find your perfect match today!</p>
            <a href="/courses" class="btn-primary">Explore Courses</a>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- About Section -->
    <section class="about">
        <div class="about-content">
            <h2>Why Choose World's Best Universities?</h2>
            <p>At World’s Best Universities, we provide up-to-date rankings, comprehensive guides on admission processes, scholarships, and top programs, all in one easy-to-navigate platform. 
                With personalized recommendations and trusted data from reputable sources, we make it simple for you to find the perfect university to match your academic goals and career ambitions.</p>
            <a href="/about" class="btn-secondary"></a>
        </div>
        
    </section>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 WBU Anggi Fathaniar E1R022034. All rights reserved.</p>
    </footer>

    <script src="/script.js"></script>
</body>

</html>
