<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard University</title>
    <!-- Link ke CSS -->
    <link rel="stylesheet" href="/css/oxford.css">
</head>
<body>
    <header class="header">
        <h1>Harvard University</h1>
        <nav>
            <a href="/courses">Back to Courses</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>About Harvard University</h2>
            <p style="text-align: justify;">
                Harvard University adalah universitas swasta yang terletak di Cambridge, Massachussets, Amerika Serikat, satu lokasi yang sama dengan MIT. Perguruan tinggi ini merupakan salah satu universitas terbaik di dunia, mendapatkan peringkat ke 4 menurut QS World University Ranking. 
                Universitas Harvard telah banyak menorehkan prestasi di bidang pengetahuan. Universitas ini telah berhasil melahirkan 47 ilmuwan pemenang hadiah Nobel, 48 pemenang Pulitzer, serta memiliki 32 alumni yang pernah menjadi kepala negara. 
                Harvard University adalah universitas riset dengan jumlah mahasiswa mencapai 6.700 orang untuk S1, dan 14.500 untuk S2 dan S3. Mengapa lebih banyak mahasiswa pascasarjana di Harvard University? Itulah mengapa disebut sebagai universitas riset, mahasiswa di sana tidak hanya belajar, namun juga berusaha menemukan dan membuat inovasi.
            </p>
        </section>

        <section>
            <h2>Beasiswa di Harvard University</h2>
            <p>Berikut adalah beasiswa yang bisa mengantarkanmu kuliah gratis di Harvard University:</p>
            <ul>
                <li>LPDP</li>
                <li>ProNet David W. Lakamp AIA Scholarship</li>
                <li>Beasiswa Aga Khan</li>
                <li>American Association of University Women</li>
                <li>American Society of Landscape Architects</li>
                <li>Architects Foundation</li>
                <li>Beasiswa Bergmeyer</li>
                <li>Beasiswa Yayasan Arsitektur Connecticut</li>
                <li>Beasiswa Kemajuan Keanekaragaman</li>
                <li>Edmond J. Safra Graduate Fellowship</li>
                <li>Yayasan Beasiswa FIABCI</li>
                <li>Beasiswa Flywire Charitable Foundation</li>
                <li>Fulbright Program/Institute of International Education (IIE)</li>
                <li>Program Beasiswa Fundação Estudar</li>
                <li>Graduate Consortium on Energy and Environment Fellowship</li>
                <li>Penghargaan Mahasiswa Pascasarjana Harvard</li>
                <li>Beasiswa Houtan</li>
                <li>Institute of International Education</li>
                <li>Bantuan Keuangan Pendidikan Internasional</li>
            </ul>
        </section>

        <section>
            <h2>Fakultas di Harvard University</h2>
            <p>Universitas Harvard kini mempunyai 9 fakultas, diurutkan di bawah ini menurut masa didirikan:</p>
            <ul>
                <li><strong>Harvard Faculty of Arts and Sciences</strong> dan sub fakultasnya, Harvard Division of Engineering and Applied Sciences, yang bersama-sama meliputi:</li>
                <ul>
                    <li>Harvard College, yang adalah bagian pascasarjana Universitas ini (1636)</li>
                    <li>Harvard Graduate School of Arts and Sciences (1872)</li>
                    <li>Harvard Division of Continuing Education, termasuk Harvard Extension School dan Harvard Summer School</li>
                </ul>
                <li><strong>Fakultas Kedokteran</strong>, termasuk Harvard Medical School (1782) dan Harvard School of Dental Medicine (1867)</li>
                <li><strong>Harvard Divinity School</strong> (1816)</li>
                <li><strong>Harvard Law School</strong> (1817)</li>
                <li><strong>Harvard Business School</strong> (1908)</li>
                <li><strong>Harvard Graduate School of Design</strong> (1914)</li>
                <li><strong>Harvard Graduate School of Education</strong> (1920)</li>
                <li><strong>Harvard School of Public Health</strong> (1922)</li>
                <li><strong>Harvard Kennedy School</strong> (1936)</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 World's Best Universities. All rights reserved.</p>
    </footer>
</body>
</html>
